<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="10">
            <label>BSS</label>
        </tab>
        <section id="bss_customer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Data</label>
            <tab>bss</tab>
            <resource>Bss_InternShip::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Show InternShip Form</label>
                <field id="internship_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <if_module_enabled>Bss_InternShip</if_module_enabled>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
    </system>
</config>
